body {
    background-color: #F2F2F2;
}

.footer {
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #FFFFFF;
    color: black;
    text-align: center;
}

.content h1 {
    text-align: center;
    position: relative;
    top: 30px;
}

.content p {
    padding: 40px 30px 30px 30px;
    position: relative;
}

.content {
    width: 85%;
    height: auto;
    background:#FFFFFF;
    margin: 40px auto;
}

.shadow {
    -webkit-box-shadow: 0 8px 4px -4px #555;
    -moz-box-shadow: 0 8px 4px -4px #555;
    box-shadow: 0 8px 4px -4px #555;
}
