<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block css %}{% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <a class="navbar-brand" href="home">Illinois Businesses</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="scatter">Scatter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="heatmap">Heatmap</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="piechart">Pie Chart</a>
          </li>
        </ul>
      </div>

      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search Businesses" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>

    <img src="static/img/chicago.jpeg" class="img-fluid" alt="Chicago, Illinois">

    <div class="content">
      <div class="shadow">
        <h1>Improve Your Illinois Business</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin placerat placerat massa. Duis sapien magna, viverra sed felis ut, efficitur sodales est. Sed ac elit dictum tellus sodales ultricies eget vel nibh. Mauris non tortor in justo scelerisque commodo. Aenean nisl lorem, feugiat eget facilisis non, iaculis at urna. Ut eget ipsum magna. Phasellus ac mauris arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean aliquam augue turpis, vitae vulputate leo pretium ac. Praesent eleifend mattis purus, nec tempor eros fringilla sollicitudin. Sed commodo, justo sed aliquet ultrices, risus sapien efficitur lectus, at luctus odio magna ut urna.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin placerat placerat massa. Duis sapien magna, viverra sed felis ut, efficitur sodales est. Sed ac elit dictum tellus sodales ultricies eget vel nibh. Mauris non tortor in justo scelerisque commodo. Aenean nisl lorem, feugiat eget facilisis non, iaculis at urna. Ut eget ipsum magna. Phasellus ac mauris arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean aliquam augue turpis, vitae vulputate leo pretium ac. Praesent eleifend mattis purus, nec tempor eros fringilla sollicitudin. Sed commodo, justo sed aliquet ultrices, risus sapien efficitur lectus, at luctus odio magna ut urna.

          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin placerat placerat massa. Duis sapien magna, viverra sed felis ut, efficitur sodales est. Sed ac elit dictum tellus sodales ultricies eget vel nibh. Mauris non tortor in justo scelerisque commodo. Aenean nisl lorem, feugiat eget facilisis non, iaculis at urna. Ut eget ipsum magna. Phasellus ac mauris arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean aliquam augue turpis, vitae vulputate leo pretium ac. Praesent eleifend mattis purus, nec tempor eros fringilla sollicitudin. Sed commodo, justo sed aliquet ultrices, risus sapien efficitur lectus, at luctus odio magna ut urna.

          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin placerat placerat massa. Duis sapien magna, viverra sed felis ut, efficitur sodales est. Sed ac elit dictum tellus sodales ultricies eget vel nibh. Mauris non tortor in justo scelerisque commodo. Aenean nisl lorem, feugiat eget facilisis non, iaculis at urna. Ut eget ipsum magna. Phasellus ac mauris arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean aliquam augue turpis, vitae vulputate leo pretium ac. Praesent eleifend mattis purus, nec tempor eros fringilla sollicitudin. Sed commodo, justo sed aliquet ultrices, risus sapien efficitur lectus, at luctus odio magna ut urna.

        </p>
        {% block body %}
        {% endblock %}
      </div>
    </div>

    <div class="footer">
      <br>
      <a href="https://www.yelp.com/dataset">Yelp Dataset</a>
    </div>

    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js' ) }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js' ) }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js' ) }}"></script>
    {% block js %}{% endblock %}

  </body>

</html>
