{% extends "base.html" %}

{% block title %}Heatmap{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/heatmap.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/select2.min.css') }}">
{% endblock %}

{% block body %}
<div style="text-align: center;">
  <h1>Yelp Check-Ins Heatmap</h1>
  <br>
  <select id="dataset">
    {% for dataset in datasets %}<option value="{{ dataset }}">{{ dataset }}</option>
    {% endfor %}
  </select>
  <div id="chart" style="text-align: center"></div>
  <p>Hover over a specific hour to view the exact number of Yelp Check-Ins</p>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/d3.v3.min.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/select2.min.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/heat.js' ) }}"></script>
{% endblock %}
